#Standard Library
scikit-learn
numpy
pandas
import-ipynb

#sklearn
scikit-learn

#TensorFlow
TensorFlow
keras

# XGBoost
xgboost

#CatBoost
catboost

# API
fastapi
uvicorn

# Feature engineering
tsfresh
pyts

#-e .
